{
  "tabWidth": 3,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "bracketSameLine": true,
  "endOfLine": "lf",
  "parser": "babel-ts",

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/api/(.*)$",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/config/(.*)$",
    "^@/constants/(.*)$",
    "^@/hooks/(.*)$",
    "^@/services/(.*)$",
    "^@/shared/(.*)$",
    "^@/store/(.*)$",
    "^@/utils/(.*)$",
    "^../(.*)$",
    "^./(.*)$",
    "(.scss)$",
    "(.css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-prisma",
    "prettier-plugin-tailwindcss"
  ]
}
