{
   "semi": false,
   "tabWidth": 3,
   "useTabs": false,
   "endOfLine": "lf",
   "singleQuote": false,
   "proseWrap": "always",
   "arrowParens": "avoid",
   "bracketSpacing": true,
   "trailingComma": "none",
   "bracketSameLine": true,

   "importOrder": [
      "<THIRD_PARTY_MODULES>",
      "^@/app/(.*)$",
      "^@/features/(.*)$",
      "^@/shared/(.*)$",
      "^../(.*)$",
      "^./(.*)$",
      "(.scss)$",
      "(.css)$"
   ],
   "importOrderSeparation": true,
   "importOrderSortSpecifiers": true,
   "plugins": [
      "@trivago/prettier-plugin-sort-imports",
      "prettier-plugin-tailwindcss"
   ]
}
